@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');


:root{
    --primary-color:#c72727;
    --secondary-color:#f99500;
    --light-color:#f3f3f3;
    --dark-color:#333;
    --max-width:1100px;
}

.category{
    --sports-color:#f99500;
    --ent-color:#a66bbe;
    --tech-color:#009cff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    background-color: var(--light-color);
}

a{
    color: #333;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Staatliches', cursive;
}


/* Utility */

.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}


.bg-dark{
    background-color: var(--dark-color);
    color: #fff;
}

.bg-primary{
    background-color: var(--primary-color);
    color: white;
}

.bg-secondary{
    background-color: var(--secondary-color);
    color: white;
}

.card{
    background-color: #fff;
    padding: 1rem;
}

.l-heading{
    font-size: 3rem;
}

.py-2{
    padding: 2rem 0;
}

.py-3{
    padding: 3rem 0;
}

.p-1{
    padding: 0.5rem;
}

.p-2{
    padding: 2rem;
}

.p-3{
    padding: 3rem;
}

.current{
    background-color: var(--primary-color);
    color: white;
}

.category{
    border-radius: 15px;
    color: white;
    padding:0.4rem 0.6rem;
    display: inline-block;
    font-size: 0.55rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.category-sports{
    background-color: var(--sports-color);
}
.category-ent{
    background-color: var(--ent-color);
}
.category-tech{
    background-color: var(--tech-color);
}

.btn{
    margin-top: 0.5rem;
    display: inline-block;
    color: white;
    background-color: var(--dark-color);
    padding: 0.6rem 1rem;
}


.btn-block{
    display: block;
    width: 100%;
    text-align: center;
}

.btn-dark{background-color: var(--dark-color);}

.btn-primary{
    background-color: var(--primary-color);
}
.btn-light{
    background-color: var(--light-color);
}
.btn-secondary{
    background-color: var(--secondary-color);
}

.btn:hover{
    opacity: 0.9;
}



/* Navigation bar */

#main-nav{
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container{
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    align-items: center;
}

#main-nav .logo{
    width: 80px;
}

#main-nav ul{
    justify-self: end;
    display: flex;
}

#main-nav ul li a{
    padding: 1rem;
    margin-right: 0.5rem;
}

#main-nav ul li a:hover{
    background-color: var(--light-color);
    color: #333;
}

#main-nav .social{
    justify-self: end;
}

#main-nav .social i{
    color: #777;
    margin-right: 0.5rem;
}

#main-nav .social a:nth-child(1) i:hover{
    color: #009cff;
}

#main-nav .social a:nth-child(2) i:hover{
    color: #e1306c;
}
#main-nav .social a:nth-child(3) i:hover{
    color: #009cff;
}
#main-nav .social a:nth-child(4) i:hover{
    color: var(--primary-color);
}


/* Showcase */

#showcase{
    color: #f3f3f3;
    position: relative;
    background: #080808;
}

#showcase::before{
    content: '';
    background: url('../img/header.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 35.4%;
}

#showcase .showcase-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    height: 60vh;
}

#showcase .showcase-content{
    z-index: 1;
}



/* Section Artciles */

#home-articles .articles-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child{
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    align-items: center;
}

#home-articles .articles-container > *:last-child{
    grid-column: 2 / span 2;
}


/* Footer */



#footer > div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}

#footer img{
    width: 50px;
}

#footer form input,#footer form a{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

#footer form input{
    outline: 0;
    padding: 0.5rem;
}

#footer .site-links{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}

#footer .site-links a{
    color: white;
    border-bottom: 1px dotted #444;
}

#footer .site-links a:hover{
    color: var(--primary-color);
}


.copyright{
    background-color: #444;
    grid-column: 1 / span 4;
    text-align: center;
}






/* Section About.html */

#about aside:nth-child(3){
    background-color: var(--primary-color);
    color: white;
}

#about aside:nth-child(2) {
    background-color: var(--secondary-color);
    color: white;
    border-bottom: 1px dotted #333;
}

#about aside i{
    margin-right: 0.8rem;
}

#about .page-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 2rem 0;
    grid-gap: 1.5rem;
}

#about .page-container >*:first-child{
    grid-row: 1 / span 3;
}